.top {
    display: flex;
    height: 50vh;
    min-width: 100vw;

}

.characterInfo,
.shop {
    min-width: 49vw;
}

.centerContent {
    text-align: center;
}

.fieldset {
    min-height: 40vh;
}

li {
    list-style: none;
}

.objectInStock {
    display: inline;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.barre {
    width: 85%;
    background-color: #ddd;
}

.skill {
    text-align: right;
    padding: 10px;
    color: white;
}

/* Pourcentage de mes barre  */

.xpPercent {
    /* width: 70%; */
    background-color: green;
}

.xpbar {
    width: 50%;
}


.attacker {
    position: absolute;
    /* transform: translateX(1299%); */
    transform: translateX(50%);
    background-color: blue;
    height: 100px;
    width: 100px;
}

.ennemy {
    position: absolute;
    /* transform: translateX(151%); */
    transform: translateX(1400%);
    background-color: red;
    height: 100px;
    width: 100px;
}


/* go to fight zone */
/* I hope this was helpful! */
/* Follow me on Twitter 🐤 @sleumasm to see what I'm up to. */
/* Also check out my other project I'm working on - Ceev.io. A pretty cool online resume creator 📃. */

@keyframes moveBlue{
    0%{
        transform: translateX(50%);
        }
    100%{
        transform: translateX(650%);
        }
}

.blueAnimation{
    animation: moveBlue 3s 0s linear forwards;
}


@keyframes moveRed{
    0%{
        }
    100%{
        transform: translateX(750%);
        }
}

.redAnimation{
    animation: moveRed 3s 0s linear forwards;
}

#fightON {
    visibility: hidden;
}

#fight {
    visibility: visible;
}